{{#writeToDiskEnabled}}
metric_update_interval_secs={{metricUpdateGapInSec}}

<store>
category=default
type=buffer

target_write_size=20480
retry_interval=30
retry_interval_range=10
{{#insightsStreamingEnabled}}
primary_batch_interval_secs=0
{{/insightsStreamingEnabled}}
{{^insightsStreamingEnabled}}
primary_batch_interval_secs={{uploadIntervalSec}}
{{/insightsStreamingEnabled}}
buffer_send_rate=1024


<primary>
type=http
http_path=/api/v1/insights
{{#insightsUploadEnabled}}
remote_host={{host}}
remote_port={{port}}
{{/insightsUploadEnabled}}
timeout=60000
bearer_token={{token}}
{{#isSSL}}
ca_cert={{caCertFile}}
{{/isSSL}}
</primary>


<secondary>
type=file
file_path={{dataDir}}
max_size=3000000
base_filename=thisisoverwritten
store_byte_limit={{maxDataDirSizeBytes}}
</secondary>

</store>
{{/writeToDiskEnabled}}

{{^writeToDiskEnabled}}
metric_update_interval_secs=0
<store>
category=default
type=null
</store>
{{/writeToDiskEnabled}}
