attrs==19.3.0
entrypoints==0.3
flake8==3.7.9
importlib-metadata==1.5.0
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pathspec==0.8.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytest==5.3.5
PyYAML==5.4
six==1.14.0
wcwidth==0.1.8
yamllint==1.24.2
zipp==3.1.0
