name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs: 
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Metric Collector
        run: |
          RELEASE_VERSION="${GITHUB_REF##*/}"
          RELEASE_VERSION="${RELEASE_VERSION:1}"
          ./make_package.sh "$RELEASE_VERSION"

          assets=()
          for asset in datastax-mcac-${RELEASE_VERSION}.*; do
            assets+=("-a" "$asset")
          done
      
          hub release create "${assets[@]}" -m "v$RELEASE_VERSION" "v$RELEASE_VERSION"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      